**/__pycache__/
*.egg-info/
**/.DS_Store

TODO

data/Cora/
data/METR-LA/*.h5
data/METR-LA/*.npz
data/ogbn_arxiv/
data/sbm50/*.csv

examples/**/.ipynb_checkpoints/
examples/wanb/
exmaples/outputs/

packages/fast_sampler/build/
packages/fast_sampler/dist/
packages/fast_sampler/*.egg-info/
